<?php

$finder = PhpCsFixer\Finder::create()
    ->in(['src', 'tests'])
;

return PhpCsFixer\Config::create()
    ->setRules(array(
        '@Symfony' => true,
        'phpdoc_annotation_without_dot' => false,
    ))
    ->setFinder($finder)
;
